<% define_template "revision_statement", jsonmodel_definition(:revision_statement) do |form| %>
  <div class="subrecord-form-fields pt-5">
    <%= form.label_and_textfield "date" %>
    <%= form.label_and_textfield "description" %>
    <%= form.label_and_boolean "publish" %>
    <%= form.label_and_select("type", form.possible_options_for("type", true)) %>
    <%= form.label_and_select("agent_type", form.possible_options_for("agent_type", true)) %>
    <%= form.label_and_textfield "agent" %>
  </div>
<% end %>
